:where(main) {
		background-color: teal;
}
:where(main > :where(:first-child)) {
		background-color: crimson;
}
:where(main > *) {
		background-color: tomato;
}
:where(main > :where(:first-child) > *) {
		background-color: violet;
}
:where(main > :where(:first-child) > :where(:first-child)) {
		background-color: hotpink;
}
:where(main > :where(:last-child)) {
		background-color: cornflowerblue;
}
